.authContainer {
  color: var(--secondary-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.authFormContainer {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 50%;
  max-height: 100vh;
  overflow-y: auto;
}
.authSecondPart {
  width: 50%;
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.authForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.authFormGroup label {
  display: block;
  font-family: Poppins-600;
  margin-bottom: 12px;
  font-size: 16px;
}
.authFormGroup input {
  padding: 16px 20px;
  padding-right: 55px;
  border-radius: 8px;
  background: var(--alternative-black-color);
  outline: none;
  border: none;
  width: 100%;
  color: var(--secondary-color-white);
  font-size: 16px;
}
.authError {
  margin-top: 10px;
  color: #cc0000;
  font-size: 14px;
}
.authGreeting {
  margin-top: 60px;
  margin-bottom: 32px;
}
.authLogo img {
  width: 222px;
}
.authFormGroup input::placeholder {
  font-size: 16px;
  opacity: 0.7;
}
.authGreetingTitle {
  font-family: Poppins-700;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 32px;
}
.authGreetingDescription {
  opacity: 0.7;
  font-size: 18px;
}
.authCredentials {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.authCredentialsGreetings {
  font-size: 16px;
}
.authCredentialsGreetings a {
  color: var(--main-color-pink);
  font-family: Poppins-700;
  text-decoration: none;
  font-size: 16px;
}
.authCredentialsOr {
  display: flex;
  align-items: center;
  gap: 16px;
}
.authCredentialsLine1,
.authCredentialsLine2 {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
}
.authCredentialsOr p {
  font-size: 16px;
}
.authCredentialsBtns {
  display: flex;
  gap: 16px;
}
.authCredentialsBtns button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  border-radius: 8px;
  background: var(--alternative-black-color);
  color: var(--secondary-color-white);
  font-family: Poppins-500;
  outline: none;
  border: none;
  font-size: 16px;
}
.authHub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passwordRecoveryTitle {
  cursor: pointer;
  opacity: 0.7;
  font-size: 16px;
}

@media screen and (max-width: 1600px) {
  .authLogo img {
    width: 150px;
  }
  .authGreetingTitle {
    font-size: 25px;
  }
  .authGreetingDescription {
    font-size: 13px;
  }
  .authGreeting {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .authForm {
    gap: 20px;
  }
  .authCredentials {
    gap: 20px;
  }
  .authFormContainer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .authCredentials {
    margin-top: 25px;
  }
}
@media screen and (max-width: 1400px) {
  .authFormGroup label,
  .authFormGroup input,
  .authCredentialsOr p,
  .authCredentialsGreetings,
  .authFormGroup input::placeholder,
  .rememberMeHandlerTitle,
  .rememberMeHandlerTitle {
    font-size: 14px;
  }
  .authGreetingTitle {
    font-size: 22px;
  }
  .authError {
    font-size: 13px;
  }
  .checkbox-wrapper-23 input + label {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .authFormGroup label,
  .authFormGroup input,
  .authCredentialsOr p,
  .authCredentialsGreetings,
  .authFormGroup input::placeholder,
  .rememberMeHandlerTitle,
  .passwordRecoveryTitle {
    font-size: 12px;
  }
  .authGreetingTitle {
    font-size: 18px;
  }
  .authError {
    font-size: 11px;
  }
  .authGreetingDescription {
    font-size: 14px;
  }
  .checkbox-wrapper-23 input + label {
    width: 17px;
    height: 17px;
  }
}
@media screen and (max-width: 1100px) {
  .authSecondPart {
    display: none;
  }
  .authFormContainer {
    width: 100%;
  }
  .authLogo img {
    width: 200px;
  }
  .authGreetingTitle {
    font-size: 32px;
  }
  .authGreetingDescription {
    font-size: 18px;
  }
  .authFormGroup label,
  .authFormGroup input,
  .authCredentialsOr p,
  .authCredentialsGreetings,
  .authFormGroup input::placeholder,
  .rememberMeHandlerTitle,
  .passwordRecoveryTitle {
    font-size: 16px;
  }
  .checkbox-wrapper-23 input + label {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 600px) {
  .authLogo img {
    width: 150px;
  }
  .authGreetingTitle {
    font-size: 22px;
  }
  .authGreetingDescription {
    font-size: 16px;
  }
  .authFormGroup label,
  .authFormGroup input,
  .authCredentialsOr p,
  .authCredentialsGreetings,
  .authFormGroup input::placeholder,
  .rememberMeHandlerTitle,
  .passwordRecoveryTitle {
    font-size: 14px;
  }
  .checkbox-wrapper-23 input + label {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 400px) {
  .authGreetingTitle {
    font-size: 18px;
  }
  .authGreetingDescription {
    font-size: 14px;
  }
  .authFormGroup label,
  .authFormGroup input,
  .authCredentialsOr p,
  .authCredentialsGreetings,
  .authFormGroup input::placeholder,
  .rememberMeHandlerTitle,
  .passwordRecoveryTitle {
    font-size: 12px;
  }
  .checkbox-wrapper-23 input + label {
    width: 17px;
    height: 17px;
  }
}

/* eye animation */
.authFormGroupInput {
  position: relative;
}
.eyeContainer {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#eye {
  --duration-blink: 0.2s;
  --duration-lashes: 0.2s;
  --delay-lashes: var(--duration-blink);
  --duration-pupil: 0.1s;
  --delay-pupil: calc(var(--duration-blink) * 2 / 3);
}

#eye-bottom,
#eye-top {
  stroke-linecap: round;
}

#eye-top,
#eye-lashes {
  transition: var(--duration-blink) ease-in;
}

#eye-pupil {
  opacity: 0;
  transition: opacity var(--duration-pupil) var(--delay-pupil) ease;
}

.eyeOpen #eye-top,
.eyeOpen #eye-lashes {
  transform: rotateX(0.5turn);
  animation: scaleUp var(--duration-lashes) var(--delay-lashes) ease-in-out;
}

.eyeOpen #eye-pupil {
  opacity: 1;
}

.eyeClose #eye-lashes {
  animation: scaleDown var(--duration-lashes) var(--duration-blink) ease-in-out;
}

.eyeClose #eye-pupil {
  opacity: 0;
}

@keyframes scaleUp {
  50% {
    transform: rotateX(0.5turn) scaleY(1.15);
  }

  to {
    transform: rotateX(0.5turn) scaleY(1);
  }
}

@keyframes scaleDown {
  50% {
    transform: scaleY(1.15);
  }

  to {
    transform: scaleY(1);
  }
}
