.reviewWrapper {
  display: flex;
}
.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 539px;
  padding: 32px;
  gap: 16px;
  height: 200px;
  border-radius: 24px;
  background: #0d0d0d;
  margin: 20px 0;
}
.reviewProfileImg {
  background: #d9d9d9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.reviewProfile {
  display: flex;
  align-items: center;
  gap: 24px;
}
.reviewProfileNameStar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviewProfileStar {
  display: flex;
  align-items: center;
  gap: 6px;
}
.reviewProfileName {
  font-family: Poppins-700;
  font-size: 20px;
}
.reviewProfileDesc p {
  color: var(--alternative-white-color);
  font-size: 16px;
}
@media screen and (max-width: 1600px) {
  .reviewProfileImg {
    width: 50px;
    height: 50px;
  }
  .reviewProfileName {
    font-size: 18px;
  }
  .reviewProfileDesc p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1280px) {
  .reviewProfileImg {
    width: 40px;
    height: 40px;
  }
  .reviewProfileName {
    font-size: 16px;
  }
  .reviewProfileDesc p {
    font-size: 12px;
  }
  .review {
    padding: 25px;
    width: 480px;
  }
}
@media screen and (max-width: 797px) {
  .review {
    padding: 16px;
    width: 320px;
  }
  .reviewProfileName {
    font-size: 18px;
  }
  .reviewProfileDesc p {
    font-size: 14px;
  }
}
