:root {
  --main-color-pink: #af4b85;
  --secondary-color-pink: rgba(255, 255, 255, 0.2);
  --secondary-color-white: #fff;
  --main-padding-lr-desktop: 120px;
  --main-padding-lr-tablet_1: 100px;
  --main-padding-lr-tablet_2: 45px;
  --main-padding-lr-tablet_3: 30px;
  --main-padding-lr-mobile: 16px;
  --main-border-radius: 12px;
  --main-bg-color-black: #000;
  --alternative-white-color: #bfbfbf;
  --alternative-black-color: #0f0f0f;
}
body {
  background: var(--main-bg-color-black);
}
.container {
  padding-left: var(--main-padding-lr-desktop);
  padding-right: var(--main-padding-lr-desktop);
}
button {
  cursor: pointer;
}
input::placeholder {
  color: inherit;
}
@media screen and (max-width: 1100px) {
  .container {
    padding-left: var(--main-padding-lr-tablet_1);
    padding-right: var(--main-padding-lr-tablet_1);
  }
}
@media screen and (max-width: 1010px) {
  .container {
    padding-left: var(--main-padding-lr-tablet_2);
    padding-right: var(--main-padding-lr-tablet_2);
  }
}
@media screen and (max-width: 750px) {
  .container {
    padding-left: var(--main-padding-lr-tablet_3);
    padding-right: var(--main-padding-lr-tablet_3);
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding-left: var(--main-padding-lr-mobile);
    padding-right: var(--main-padding-lr-mobile);
  }
}
